{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock title %}

{% block pagenav %}
<div class="content-header tab-padding-left">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <p class="m-0 dashboard-sub-heading">Dashboard / <span style="color:#424242 !important;">Products</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock pagenav %}

{% block main-content %}

<div class="content-header tab-padding-left">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <p class="m-0 dashboard-sub-heading">Dashboard / <span style="color:#424242 !important;">Products</span>
            </p>
          </div>
          <!-- /.col -->
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content tab-padding-left">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body quotations-card">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group has-search">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control searchbox" placeholder="Search" />
                </div>
              </div>
            </div>
            <table id="example1" class="table text-center quotations-table">
              <thead>
                <tr class="heading">
                  <th>Product</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Actions</th>
                </tr>
              </thead>
                <tbody id="productsearch">
                    {% for p in page_obj %}
                    <tr>
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.selling_price}}</td>
                    <td><i class="fas fa-edit product-edit-icon" data-toggle="modal" data-target="#exampleModal"
                      data-whatever="@mdo"></i> <i class="fas fa-trash product-trash-icon" data-toggle="modal" data-target="#deleteModal" data-whatever="@mdo"></i></td>
                </tr>
                        {% endfor %}
                    </tbody>
             
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>

  <!-- DataTables  & Plugins -->
  <script src="plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>


  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "searching": false,
        "lengthChange": false,
        "autoWidth": false,
        "ordering": false
      });
    });
  </script>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title add-section" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12 pr-0">
            <div class="form-group d-flex">
              <label class="heading-lebel col-md-4 mt-2">Change Image </label>
              <img class="product-listing-image" src="dist/img/image_77.png" alt="Card image" />
              <input type="file" id="upload" hidden />
              <span for="upload" class="file-upload"><a class="browse-text">Browse</a></span>
            </div>
          </div>

          <div class="col-md-12 pr-0">
            <div class="form-group d-flex">
              <label class="heading-lebel col-md-3 mt-2">Name </label>
              <input type="text" class="form-control w-60 ml-2" id="colFormLabelSm" placeholder="MA07 -150">
            </div>
          </div>

          <div class="col-md-12 pr-0">
            <div class="form-group d-flex">
              <label class="heading-lebel col-md-3 mt-2">Description </label>
              <input type="text" class="form-control w-60 ml-2" id="colFormLabelSm" placeholder="Round Ceiling Shower Arm 150mm">
            </div>
          </div>

          <div class="col-md-12 pr-0">
            <div class="form-group d-flex">
              <label class="heading-lebel col-md-3 mt-2">Quantity </label>
              <input type="text" class="form-control w-60 ml-2" id="colFormLabelSm" placeholder="100">
            </div>
          </div>

          <div class="col-md-12 pr-0">
            <div class="form-group d-flex">
              <label class="heading-lebel col-md-3 mt-2">Price </label>
              <input type="text" class="form-control w-60 ml-2" id="colFormLabelSm" placeholder="R 1663">
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default btn-add" href="product_edit_alert.html">Save</a>
        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>



   <!----modal starts here--->
   <div id="deleteModal" class="modal fade" role='dialog'>
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0">
              <div class="modal-body p-0">
                  <div class="card border-0 p-sm-3 p-2 justify-content-center product-delete-box">
                      <div class="card-header pb-0 bg-white border-0"><div class="row"><div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div> </div>
                      <p class="font-weight-bold mb-2"> <i class="fas fa-exclamation-triangle product-delete-alert-icon"></i>  Delete Product MA07 -150 ?</p></div>
                      <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                          <div class="row justify-content-center no-gutters">
                            <div class="col-auto">
                              <a class="btn btn-success text-muted" href="product_delete_alert.html">Yes</a>
                            </div>
                            <div class="col-auto ml-20">
                              <button type="button" class="btn btn-danger px-4" data-dismiss="modal">No</button>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>




<section class="content tab-padding-left">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body quotations-card">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="text" class="form-control searchbox" placeholder="Search.." id="psearch"/>
                            </form>

                        </div>
                    </div>
                </div>
               
                <div>
                {%if page_obj.has_previous %} {# whether the previous page exists #}
            <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
            {% endif %}
            <span>{{page_obj.number}}</span> {# the current page number #}

             {%if page_obj.has_next %} {# whether the next page exists #}
              <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
           {% endif %}
            </div>
                <div>
                    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                </div>
                <div>
                    <a href="?page={{page_obj.next_page_number}}" >{{page_obj.number | add:1}} </a>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock main-content %}

